.tile {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tile-img {
    height: 280px;
    width: 280px;
    margin-bottom: 8px;
}

.tile-img img {
    border-radius: 8px;
}

.smaller-text {
    font-size: 0.8rem;
}

h3 {
    padding: 5px 0;
}

.naast {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
