.fhoto {
    display: flex;
    justify-content: center;
    background-color: #dee5ef;
}

.fhoto img {
    width: 40%;
    border-radius: 5px;
    margin: 20px;
}

.tentInfo {
    display: flex;
    flex-direction: column;
    background-color: #dee5ef;
    align-items: center;
}

h6 {
    font-size: 0.8rem;
}
