.page-banner {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.left-side-banner {
    width: 50%;
    position: relative;
    z-index: -1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side-banner{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 400px 0 0 400px;
    z-index: 1;
    position: absolute;
    right: 0;
    height: 400px;
}

.welcome {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

